<div class='well span4 cycle-container'>
  <div class='row'>
    <div class='span4'>
      <img src='<%= cycle.image_url %>' \>
      <div class='span2'>
        <p><a id='<%=cycle.id%>' href='<%=cycle.url%>'><%= cycle.name %></a></p>
        <p><%=cycle.cycle_type %></p>
        <p><%=cycle.brand %></p>
        <p>Rs.<%=cycle.price %></p>
      </div>
    </div>
  </div>
</div>

