<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">

<title><%= content_for?(:title) ? yield(:title) : "CyklIn" %></title>

<%= csrf_meta_tags %>

<%= stylesheet_link_tag "application", :media => "all" %>



<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!--[if lt IE 9]>
  <script src="/assets/vendor/html5shiv.js"></script>
  <script src="/assets/vendor/respond.min.js"></script>
<![endif]-->

<!-- Favicons -->
<link rel="apple-touch-icon-precomposed" sizes="144x144" href="/assets/ico/apple-touch-icon-144-precomposed.png">
<link rel="apple-touch-icon-precomposed" sizes="114x114" href="/assets/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/assets/ico/apple-touch-icon-72-precomposed.png">
                <link rel="apple-touch-icon-precomposed" href="/assets/ico/apple-touch-icon-57-precomposed.png">
                               <link rel="shortcut icon" href="/assets/ico/favicon.png">

    <!-- Place anything custom after this. -->
  </head>
  <body>
<!-- Wrap all page content here -->
<div id="wrap">

  <!-- Fixed navbar -->
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand text-hide" href="#">CyklIn</a>
      <div class="nav-collapse collapse">
        <ul class="nav" id="filters">
          <li>
            <p>Brands</p>
              <% @brands.each do |brand| %>
                <a class="btn btn-primary" data-filter=".<%="#{brand[0]}" %>" href="#"><%= check_box_tag(brand[0].to_sym,brand[0],checkbox_type(params[:search],"brand",brand[0]),:class=>'search-tag brands') %> <%="#{brand[0].titleize}" %><span class="label label-info"><%="#{brand[1]}"%></span></a>
              <% end %>
          </li>
          <li>
            <p>Types</p>
              <% @types.each do |type| %>
                <a class="btn btn-primary" data-filter=".<%="#{type[0]}" %>"  href="#"><%= check_box_tag(type[0].to_sym,type[0],checkbox_type(params[:search],"type",type[0]),:class=>'search-tag types') %> <%="#{type[0]}" %><span class="label label-info"><%="#{type[1]}"%></span></a>
              <% end %>
              <p>Price</p>
          <li>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>

  <!-- Begin page content -->
  <div class="container">
    <%= yield %>
  </div>

  <div id="push"></div>
</div>

<div id="footer">
  <div class="container">
    <p class="text-muted credit">&copy; Daya 2012. Images and data belong to respective parent sites.</p>
  </div>
</div>

<!-- Javascripts
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag "application" %>

<!-- Analytics
================================================== -->


  </body>
</html>